<template>
    <span class="ireal-pro-chords">
        <table>
            <tr><td><a :href="src"><img :src="src"></a></td></tr>
            <tr><td>{{ transposition }} instrument</td></tr>
        </table>

    </span>
</template>

<script>
export default {
  props: ["src", "transposition"]
};
</script>

<style scoped>
.ireal-pro-chords {
  display: inline-block;
  max-width: 200px;
  padding: 15px
}
</style>


