<template>
<div class="lyrics">
<h3>Lyrics</h3>
<span v-html="lyrics"></span>
<!-- {{ lyrics }} -->
</div>
</template>

<script>
import { songs } from "./songs";

export default {
  props: ["song-id"],
  computed: {
    lyrics: function() {
      return songs
        .getIn([this.songId, "lyrics"], "No lyrics found!")
        .trim()
        .replace(/\n/g, "<br />");
    }
  }
};
</script>

<style scoped>
.lyrics {
  text-align: center;
}
</style>

