<template>
<div class="info">
<h3>Info</h3>
<table>
    <tr>
        <th>Key</th>
        <td>{{ key }}</td>
    </tr>
    <tr>
        <th>Source</th>
        <td><map-to-link :map="source"></map-to-link></td>
    </tr>
    <tr v-if="youtube">
        <th>YouTube</th>
        <td><map-to-link :map="youtube"></map-to-link></td>
    </tr>
</table>
</div>
</template>

<script>
import { songs } from "./songs";

export default {
  props: ["song-id"],
  computed: {
    key: function() {
      return songs.getIn([this.songId, "key"]) || "Unknown";
    },
    source: function() {
      return songs.getIn([this.songId, "source"]) || "Unknown";
    },
    youtube: function() {
      return songs.getIn([this.songId, "youtube"]);
    }
  }
};
</script>

<style scoped>
.lyrics {
  text-align: center;
}
</style>

